#navlinks a
{
	text-align: center;
	display: block;
	color: #FFF;
	background-color: #337ab7;
	font-size:15px;
	width: 9em;
	height: 1.7em;
	text-decoration: none;
	cursor:pointer;
	transition: width 1s, height 1s, background-color 1s;
}

#navlinks a:hover
{
	background-color: #036;
	color: #FFF;
	/*width: 10em;*/
	height: 1.9em;
}

.arch a:hover
{
	background-color: #036;
	color: #FFF;
	/*width: 10em;*/
	height: 2.9em;
}

p {
	font-size:17px;
}

table {
	margin-left: 15px;
	margin-right: 20px;
}

h3 {
	margin-left: 15px;
}

/* Idea from compass documentation */
.box-shadow div {
  width: 40px;
  height: 40px;
  background: #eeeeee;
  margin: 20px;
  float: left;
}
 
#box-shadow-default {
  -moz-box-shadow: 0px 5px #333333;
  -webkit-box-shadow: 0px 5px #333333;
  box-shadow: 0px 5px #333333;
}
 
#box-shadow-custom {
  -moz-box-shadow: blue 2px 2px 10px;
  -webkit-box-shadow: blue 2px 2px 10px;
  box-shadow: blue 2px 2px 10px;
}
 
#box-shadow-custom-multiple {
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
}
